<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 <link href="css/grayscale.css" rel="stylesheet">
   
<style>
body {
    font-family: Arial;
    color: white;
}

h1{
  text-align: center;
  font-family: Arial;
  color: black;
}
nav ul{
      list-style-type:none;
      margin:10;
      padding:10px;
      overflow: hidden;
      }
    nav li{
            float:right;
            left:20%;
      }
     nav li a{
            display: block;
            color: white;
            text-align: left;
            padding: 12px 14px;
            text-decoration: none;
      }

       nav a:link{
      color:#7B9393;
      }
      nav a:visited{
      color:#7B9393;
      }
      nav a:hover{
      color:#D8C6AD;
      }

.split {
    height: 61%;
    width: 43.5%;
    position: absolute;
    z-index: 1;
    top: 30%;
    overflow-x: hidden;
    padding-top: 40px;
    padding: 20px;
}

.left {
    left: 2%;
    background-color: #DEDDDC;
}

.right {
    right: 2%;
    background-color: #DEDDDC;
}

.centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered img {
    width: 150px;
   
}


ul.list-style{
    list-style-type:circle;
    font-size: 1.0em;
    text-align: auto;
    padding: 10px 20px;
    list-style-position: inside;
     }


</style>
</head>
<body>
 <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
       
        
          
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="profile">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="page3">Specifications</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="projectplan">Project Plan</a>
            </li>
             <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="feed">Feed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="first">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

      <h1>About Us</h1>
<div class="split left">
  <div class="centered">
    <img src="/public/img/diana.jpg" alt="Diana">
    <h2>Diana</h2>
       <ul class="list-style">
  <li>I love learning about different cultures and languages.</li>
  <br>
  <li>I am constantly listening to and seeking out music.</li>
</br>
  <li>I love cold weather and snow.</li>
</ul>  

  </div>
</div>

<div class="split right">
  <div class="centered">
    <img src="/public/img/kanika.jpg" alt="Kanika">
    <h2>Kanika</h2>
    
     <ul class= "list-style">
            <li>I love the aesthetic of coffeeshops more than the coffee itself.</li>
            <br>
            <li>I hope to travel the world more often in the future. </li>
        </br>
            <li>I enjoy quality time with the amazing people in my life.</li> 

        </ul>
  </div>
</div>
 <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        Copyright &copy; Your Website 2018
      </div>
    </footer>

      <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/grayscale.min.js"></script>
     
</body>
</html> 
