<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 <link href="css/grayscale.css" rel="stylesheet">
   
<style>
body {
    font-family: Arial;
    color: white;
}
h1{
  text-align: center;
  font-family: Arial;
  color: black;
}
nav ul{
      list-style-type:none;
      margin:10;
      padding:10px;
      overflow: hidden;
      }
    nav li{
            float:right;
      }
     nav li a{
            display: block;
            color: white;
            text-align: left;
            padding: 12px 14px;
            text-decoration: none;
      }

       nav a:link{
      color:#7B9393;
      }
      nav a:visited{
      color:#7B9393;
      }
      nav a:hover{
      color:#D8C6AD;
      }
.split {
    height: 65%;
    width: 29%;
    position: absolute;
    z-index: 1;
    top: 30%;
    overflow-x: hidden;
    padding-top: 10px;
}

.split2 {
    height: 65%;
    width: 29%;
    position: absolute;
    z-index: 1;
    top: 30%;
    overflow-x: hidden;
    padding-top: 10px;
}

.left {
    left: 2%;
    background-color: #DEDDDC;
    padding: 10px;
}

.right {
    right: 34.7%;
    background-color: #DEDDDC;
    padding: 10px;
}

.far-right{
  right: 2%;
    background-color: #DEDDDC;
    padding: 10px;
}

.centered {
    position: relative;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered img {
    width: 130px;
   
}

.centered3 {
    position: relative;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered3 img {
    width: 130px;
   
}

.centered2 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered2 img {
    width: 130px;
   
}


ul.list-style{
    list-style-type:circle;
    font-size: 1.0em;
    text-align: auto;
    padding: 10px 20px;
    list-style-position: inside;
     }


</style>
</head>
<body>
  <div class="nav">
         <nav>
            <ul>
               <li><a href="/projectplan">Project Plan</a></li>
               <li><a href="/page3">Specifications</a></li>
               <li><a href="/profile">About Us</a></li>
                <li><a href="/first">Home</a></li>
               
            </ul>
         </nav>

      </div>

      <h1>Project Plan</h1>

<div class="split left">
  <div class="centered">
    <img src="/public/img/sky.jpg" alt="Diana">
    <h2>Schedule and Milestones:</h2>
       <ul class="list-style">
  <li>9/26: Pitch/Basic wepage layour/branding guide</li>
  <br>
  <li>11/15: Prototype</li>
</br>
  <li>12/3: Presentation and Final Produce</li>
</ul>  

  </div>
</div>

<div class="split right">
  <div class="centered3">
    <img src="/public/img/sky.jpg" alt="Kanika">
    <h2>Features that may be lost if time limits:</h2>
    
     <ul class= "list-style">
            <li>User submission form</li>
            <br>
            <li>Save event functionality</li>
        </ul>

  </div>
</div>

<div class="split2 far-right">
  <div class="centered2">
    <img src="/public/img/sky.jpg" alt="Kanika">
   
        <h2>Features that may be added if time permits:</h2>
    
     <ul class= "list-style">
             <li>Share functionality</li>
  <br>
  <li>Video clips of past user experiences at event/activity</li>
</br>
  <li>Events for other states outside of Arizona</li>
  <br>
  <li>See events on a map, instead of a list</li>
</ul>  
  </div>
</div>
     
</body>
</html> 
